---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import Layout from "../layouts/Layout.astro";

const urls = {
	redirectLogin: import.meta.env.URL_REDIRECT_LOGIN,
	forgetPass: import.meta.env.URL_FORGET_PASS,
	register: import.meta.env.URL_REGISTER,
	login: import.meta.env.URL_LOGIN,
};
console.log(urls);
---

<Layout title="Login Smartlive">
	<main class="w-full flex flex-col justify-center items-center h-screen">
		<Card {...urls} />
	</main>
	<Footer />

	<style>
		main {
			background-image: url("/background.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	</style>
</Layout>
