<footer
    class="w-full flex flex-row justify-center items-center absolute bottom-0 text-primary font-semibold"
>
    <p>
        Hecho con 💙 por <a
            class="hover:opacity-50 transition-opacity duration-300"
            href="https://antaler.dev">antaler</a
        >
    </p>
</footer>
