---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
		<title>{title}</title>
	</head>
	<body class="text-sans flex flex-col h-screen place-items-center bg-white">
		<slot />
	</body>
</html>
<style is:global lang="scss">
	@import "../geist.font.sass";
</style>
